{% extends 'base.html' %}

{% block title %}Password Reset{% endblock %}

{% block head %}
<script src="{{ url_for('static', filename='js/portal-lib.js') }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/change-password.js') }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block body %}
<h1>RITSEC Account Password Reset</h1>
<p>Please enter a new password for user {{ username.split('@')[0] }}</p>
<form id="change-password">
  <input name="code" type="hidden" value="{{ email_code }}" />
  <input id="password" name="password" placeholder="New Password" type="password" required /><br />
  <input id="confirm-password" placeholder="Confirm New Password" type="password" required /><br />
  <input type="submit" />
</form>
{% endblock %}