{% extends 'base.html' %}

{% block title %}Password Reset{% endblock %}

{% block body %}
<form action="/account/change-password" method="POST">
    <label>Enter new password for {{ user }}@rit.edu:</label><br>
    <input name="password" type="password" placeholder="New Password" required/><br>
    <input type="password" placeholder="Confirm Password" required/><br>

    <!-- Hidden, generated fields that the endpoint still needs -->
    <input name="email" type="hidden" value="{{ user }}@rit.edu" />
    <input name="code" type="hidden" value="{{ request.values['code'] }}" />
    <input type="submit" /><br>
</form>
{% endblock %}