{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block body %}
<h1>RITSEC Self-Service Portal</h1>
Welcome to the self-service portal.  What would you like to do today?<br>

<!-- Account creation -->
<h2>Create a new RITSEC account</h2>
<form action="/account/register" method="get">
    <input name="email" placeholder="abc1234@rit.edu" type="text" required /><br>
    <input type="submit" />
</form>

<!-- Password reset -->
<h2>Change your account password</h2>
<form action="/account/change-password" method="get">
    <input name="email" placeholder="abc1234@rit.edu" type="text" required /><br>
    <input type="submit" />
</form>

{% endblock %}